.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: grid;
  font-size: 1.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(9, 70px);
  grid-template-areas:
    "a a"
    "b c"
    "b d"
    "b e"
    "b f"
    "b g"
    "b h"
    "b i";
  padding: 1em;
  gap: 1em;
  background-color: transparent;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 1300px;
}

.title {
  padding-top: 0.5em;
  text-align: center;
  grid-area: a;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cardimg {
  grid-area: b;
}

.image {
  max-width: 500px;
  border-radius: 20px;
}

.price {
  grid-area: c;
  font-size: xx-large;
}

.season {
  grid-area: d;
}

.brand {
  grid-area: e;
}

.model {
  grid-area: f;
}

.sizes {
  grid-area: g;
}

.reviews {
  grid-area: h;
}

.button {
  grid-area: i;
  padding: 2em;
  background-color: transparent;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 1em;
}

.staricon {
  width: 20px;
}
