input[type="text"],
input[type="email"],
textarea {
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    color: hsl(0, 0%, 24%);
    padding-left: 2.5rem;
}

input::placeholder {color : hsl(0, 0%, 24%)}
textarea::placeholder {color: hsl(0, 0%, 24%);}

textarea {
    font-family: inherit;
    resize: none;
}

.messageError {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: rgb(255, 0, 0);
}

.button{
    margin-top: .2rem;
    border: 1px solid hsl(0, 0%, 24%);
    border-radius:12px;
    background-color: transparent;
    color: hsl(0, 0%, 24%);
    font-size: 1.5rem;
    width: 100%;
    padding: .5rem;
}

.icon {
    color: hsl(0, 0%, 24%);
    font-size: 1.8rem;
    position: absolute;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
}

.titleContact {
    padding-bottom: .5rem;
    font-weight: 400;
}