.Container {
    /* color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    margin-bottom: 10%;
    justify-content: center;
    background-color: whitesmoke;
    border: 10rem;
    border-width:2px;
    border-style: hidden;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    width: 50%;
    /* object-fit: cover; */
}

.title {
    color: black;
    margin: auto;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    padding: 5% 10%;
    font-weight: 500;
    margin-bottom: 0;
}

.topInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfo>h3{
    margin-top: 10%;
    margin-bottom: 10%; 
        
}

.productImg{
    width: 220px;
    border-radius: 50%;
}

.productDescription{
    color:rgba(0,0,0,.55);
    margin: 3% 10%;
}

.bottomInfo{
    background-color: whitesmoke;
    width: 100%;
    border-radius: 2rem ;
}

.labels {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border-radius: 2rem;
    width: 30%;
}
.op {
    font-size: small;
    padding-bottom: 10px 100px;
    color: rgba(0,0,0,.55);
}

.propertiesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.propertiesBox>p{
    font-weight: 700;
    margin-top: 10%;
}

.textarea {
    padding: 10%;
    border-radius: 1rem;
    width: 400%;
}

.send {
    margin-top: 15%;
    margin-bottom: 10%;
    width: 250px;
    background: #1793e6;
    background-image: -webkit-linear-gradient(top, #1793e6, #1e5170);
    background-image: -moz-linear-gradient(top, #1793e6, #1e5170);
    background-image: -ms-linear-gradient(top, #1793e6, #1e5170);
    background-image: -o-linear-gradient(top, #1793e6, #1e5170);
    background-image: linear-gradient(to bottom, #1793e6, #1e5170);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 2px 1px 0px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    }
    
    .send:hover {
    background: #8dc4e6;
    background-image: -webkit-linear-gradient(top, #8dc4e6, #628bb5);
    background-image: -moz-linear-gradient(top, #8dc4e6, #628bb5);
    background-image: -ms-linear-gradient(top, #8dc4e6, #628bb5);
    background-image: -o-linear-gradient(top, #8dc4e6, #628bb5);
    background-image: linear-gradient(to bottom, #8dc4e6, #628bb5);
    text-decoration: none;
}
.stars{
    transition: all 0.5s;
}
.stars:hover {
    color: gold;
    transform: scale(1.3);
}