.userList {
    flex: 8;
}

.userButtonContainer {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 10px;
    background-color: rgb(250, 115, 61);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListPic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(247, 129, 82);
    color: white;
    cursor: pointer;
    letter-spacing: 0.02em;
}
