.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas:
    "a a a"
    "b c d";
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
  background: rgb(255 255 255 / 25%);
  margin: 1em;
  gap: 1em;
}

.title {
  grid-area: a;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.userInfo {
  grid-area: b;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
  background: rgb(255 255 255 / 25%);
  margin: 1em;
}

.history {
  grid-area: c;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
  background: rgb(255 255 255 / 25%);
  margin: 1em;
}

.favoritos {
  grid-area: d;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
  background: rgb(255 255 255 / 25%);
  margin: 1em;
}

