.topbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 1px solid rgba(225, 225, 225, 0.4);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 1em;
    background: rgb(255 255 255 / 50%);
}

.topbarWrapper {
    width: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 7rem;
    margin-left: 1rem;
    margin-top:10px;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconsContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
}

.logoutBtn {
    background-color: #f44336; /* Red */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0.5rem ;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}

.logoutBtn:hover {
    background-color: #e57373;
}

