.contentSlider {
    display: flex;
    justify-content: center;
}

.sliderContainer {
    overflow: hidden;
    cursor: grab;
    width: 80%;
}

.slider {
    display: flex;
    /* border: 1px solid red; */
}

.item {
    min-height: 20rem;
    min-width: 15rem;
    padding: 2rem;
}

.item img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    pointer-events: auto;
}

