section {
    position:fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
    z-index: -1;
  }
  
  section .color {
    position: absolute;
    filter: blur(150px);
  }
  
  section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(225,225,225, 0.5);
  
  }
  
  section .color:nth-child(1) {
    background: #ff359b;
    width: 600px;
    height: 600px;
    top: -350px;
  }
  
  section .color:nth-child(2) {
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150;
    left: 100px;
  }
  
  section .color:nth-child(3) {
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50;
    right: 0px;
  }