.containerform {
  display: grid;
  margin: 0 1em;
  width: 100%;
  /* height: 100%; */
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "c b"
    "c b";
  padding: 1em;
  gap: 1em;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
}

.title {
  grid-area: a;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}

.forminput {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: .7em;
}

.season,
.tallaycantidad,
.status,
.forminput button,
.forminput input {
  background-color: transparent;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 70px;
  font-size: 1.4em;
  cursor: pointer;
}

.season,
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.cloudinary {
  background-color: transparent;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: grid;
  place-content: center;
  grid-area: b;
}

.button:hover {
  background: rgba(255, 231, 247, 25%);
  transform: scale(1.1);

}

.button:active {
  transform: scale(0.8);
}

.input {
  padding-left: 1em;
}

.tallaycantidad {
  display: flex;
  justify-content: space-evenly;
}

.season select,
.status select {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
  padding: .3em;
}

.tallaycantidad select {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
  margin: .3em 0;
  padding: 0 .3em;
}
