.title {
    color: #f44336;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-left: 380px;
}
.labels {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background-color:rgb(246, 246, 246);
    box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
    width: 30%;
}
.propertiesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    border:whitesmoke;
    border-radius: 0.2rem;
    box-shadow: rgb(164, 164, 164);
}

.savebtn {
    color: white;
    border-radius: 0.2rem;
    width: 55px;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
