.productList {
    flex: 8;
}

.productButtonContainer {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin: 10px;
}

.productListEdit {
    background-color: #f44336; /* Red */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    font-size: smaller;
}

.productListEdit:hover {
    background-color: #e57373;    
}

/* .productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit:cover;
    margin-right: 10px;
} */

.IconFormulario{
    width:50px;
    height:50px;
}
