.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 1em 1em 0 1em;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 80px;
  align-items: center;
  grid-template-areas:
    "a a a b c"
    "d d d f e";
  column-gap: 1em;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1em;
  background: rgb(255 255 255 / 50%);
}

.logo {
  width: 100%;
  /* filter: invert(1); */
}

.imglogo {
  border-radius: 20px;
}

@media screen and (min-width: 960px) {
  .navbar {
    background: rgb(255 255 255 / 25%);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
    grid-template-areas: "a a d d d d f e b c ";
  }

  .logo {
    width: 80%;
    border-radius: 20px;
  }
}

.logo {
  grid-area: a;
}
.cart {
  grid-area: b;
  font-size: 1.7em;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  grid-area: c;
  /* font-size: 2.2em; */
  text-align: center;
}

.search {
  grid-area: d;
}

.dropdown {
  grid-area: e;
  text-align: center;
}

.dashboard {
  grid-area: f;
  font-size: 1.7em;
  color: black;
  text-align: center;
}

.loginButton {
  padding: .7em;
  background: rgb(255 255 255 / 75%);
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.searchInput {
  font-size: 1.2em;
  padding: .7em;
  background: rgb(255 255 255 / 85%);
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  width: 100%;
}

